{% comment %}
  variables to pass:

  - days_to_deliver_block
{% endcomment %}

{{ 'delivery-date.css' | asset_url | stylesheet_tag }}
<script src="{{ 'date.min.js' | asset_url }}"></script>

{% liquid
  assign default_number_of_days = 5

  if days_to_deliver_block != blank
    assign days_to_deliver = days_to_deliver_block | strip_html
  else
    assign days_to_deliver = default_number_of_days
  endif

  assign gap = days_to_deliver | jsonify
  assign international_gap = days_to_deliver | plus: 5 | jsonify
%}

<div class="delivery-date">
  {% if localization.country.name == product.metafields.custom.country_of_origin %}
    <delivery-date label="Estimated delivery by" todate="{{ gap }}"></delivery-date>
  {% else %}
    <delivery-date label="Estimated delivery by" todate="{{ international_gap }}"></delivery-date>
  {% endif %}
  <tooltip>
    <i class="fa fa-info-circle"></i>
    <div class="tooltip-text">
      {{ content }}
    </div>
  </tooltip>
</div>

<script id="secondary-modules" type="module" defer>
    import { DeliveryDate } from '{{ "delivery-date.js" | asset_url }}';
    customElements.define('delivery-date', DeliveryDate);
</script>