{% capture plus_icon %}
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
       stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x plus-icon"
       aria-hidden="true">
    <line x1="18" y1="6" x2="6" y2="18"></line>
    <line x1="6" y1="6" x2="18" y2="18"></line>
  </svg>
{% endcapture %}

{% capture minus_icon %}
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
       stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x minus-icon"
       aria-hidden="true">
    <line x1="18" y1="6" x2="6" y2="18"></line>
  </svg>
{% endcapture %}

{% capture chevron_down %}
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
       stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
       class="feather feather-chevron-down chevron-down">
    <polyline points="6 9 12 15 18 9"></polyline>
  </svg>
{% endcapture %}

{% capture chevron_up %}
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
       stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down chevron-up">
    <polyline points="6 9 12 15 18 9"></polyline>
  </svg>
{% endcapture %}

<style>
  .accordion-faq--{{ section.id }} {
      color: {{ section.settings.text-color }};
      background-color: {{ section.settings.background-color }};
  }

  .accordion-container .title-bar {
      text-align: left;
      margin-bottom: 10px;
      text-transform: none;
      font-family: var(--body-font-stack);
      font-size: 1.2rem;
  }

  .accordion-container .title-bar p {
      margin-bottom: 0;
  }

  .accordion-faq--{{ section.id }} .accordion-content {
      border-bottom: 1px solid{{ section.settings.text-color }};
  }

  .accordion-content summary {
      padding: 1rem 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .accordion-content a {
      text-decoration: underline;
  }

  .accordion-content a:hover {
      text-decoration: none;
  }

  .accordion-content .feather-x {
      transform: rotate(45deg);
  }

  .accordion-faq--{{ section.id }} .chevron-up {
      transform: rotate(180deg);
  }

  .accordion-faq--{{ section.id }} .feather-x,
  .accordion-faq--{{ section.id }} .feather-chevron-down {
      width: var(--body-font-size);
      height: var(--body-font-size);
      color: {{ section.settings.text-color }};
  }

  .accordion-faq--{{ section.id }} details summary .minus-icon,
  .accordion-faq--{{ section.id }} details summary .chevron-up {
      display: none;
  }

  .accordion-faq--{{ section.id }} details[open] summary .plus-icon,
  .accordion-faq--{{ section.id }} details[open] summary .chevron-down {
      display: none;
  }

  .accordion-faq--{{ section.id }} details[open] summary .minus-icon,
  .accordion-faq--{{ section.id }} details[open] summary .chevron-up {
      display: block;
  }

  .shopify-product-form .accordion-container {
      padding: 0;
  }

  .shopify-product-form .accordion-container .accordion-content {
      border-bottom: none;
  }

  .shopify-product-form .accordion-container .accordion-content .accordion-heading img {
      width: 22px;
      margin-right: 10px;
  }
</style>

<div
  class="accordion--faq-wrapper accordion-faq--{{ section.id }} maison-product-accordion"
  data-wetheme-section-type="accordion--faq"
  data-wetheme-section-id="{{ section.id }}"
>
  <div class="accordion-container container">
    <details class="accordion-content">
      <summary role="button" aria-expanded="false" tabindex="0" class="type-subheading type-subheading--1">
        <div class="accordion-heading">
          {% if icon != 'none' %}
            <div class="text-advert-section__icon-wrapper text-adverts__icon-size--medium">
              <i data-feather="{{ icon }}"></i>
            </div>
          {% endif %}

          {{ subheader }}
        </div>
        <span>
          {{- chevron_down -}}
          {{- chevron_up -}}
        </span>
      </summary>
      {{ content }}
    </details>
  </div>
</div>
