{{ 'section-collection-list.min.css' | asset_url | stylesheet_tag }}

{% style %}
  {% if section.settings.show_location == true %}
    #{{ section.id }} .indiv-collection-grid-homepage .homepage-collection-link {
      text-align: left;
    }
    #{{ section.id }} .indiv-collection-grid-homepage .homepage-collection-link .type-subheading {
      margin-bottom: 5px;
    }
  {% endif %}

  {% if section.settings.image_size == 'big' %}
    #{{ section.id }} .homepage-collection-grid-inner .grid-image .grid-image--centered img {
      height: 40vw;
      object-fit: cover;
    }

    @media screen and (max-width: 767px) {
      #{{ section.id }} .homepage-collection-grid-inner .grid-image .grid-image--centered img {
        height: 70vw;
      }
    }

    @media screen and (max-width: 575px) {
      #{{ section.id }} .homepage-collection-grid-inner .grid-image .grid-image--centered img {
        height: 467px;
      }
    }
  {% endif %}

  #{{ section.id }} .grid-image {
    display: flex;
    position: relative;
  }

  {% if section.settings.show_buttons_over_image == true %}
  #{{ section.id }} article .homepage-collection-link a {
    pointer-events: none;
  }
  #{{ section.id }} article:hover .grid-buttons {
    visibility: visible;
    transition: visibility 0s, opacity 0.5s ease-in-out;
    opacity: 1;
  }

  #{{ section.id }} .grid-image .grid-buttons {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
  }

    .grid-buttons > a {
      background-color: transparent;
      border: 3px solid #FFFFFF;
      color: #FFFFFF;
      width: 150px;
      border-radius: 0;
      padding: 15px 25px;
      text-align: center;
      margin-bottom: 5px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 15px;
    }

  .grid-buttons > a:hover {
    text-decoration: none;
    opacity: 1;
    background-color: #e79983;
    color: #FFFFFF;
    transition: background-color .3s linear;
  }
  {% endif %}

  #{{ section.id }} .article-title,
  #{{ section.id }} .location {
    text-align: {{ section.settings.content_alignment }};
  }


{% endstyle %}

{% case section.settings.colors %}
  {% when 'white' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--white">
  {% when 'light' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'accent' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <section class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}

      <div class="page-width col-md-12">

        {% if section.settings.title != blank or section.settings.subheading != blank %}
          <div class="title-bar custom-font">
            {% if section.settings.subheading != blank %}
              <h3 class="type-subheading type-subheading--1 wow fadeIn{% if section.settings.subheading != blank %} typography--padding-bottom{% endif %}">{{ section.settings.subheading | escape }}</h3>
            {% endif %}
            {% if section.settings.title != blank %}
              <h2 class="wow fadeIn{% if section.settings.title != blank %} delay-1{% endif %}">{{ section.settings.title | escape }}</h2>
            {% endif %}
          </div>
        {% endif %}

        {% if section.settings.show_filter_location == true %}
          <div class="maison-filter collection-filters__item sorting">
            <div class="collection-filters__field">
              <label class="collection-filters__label type-subheading type-subheading--1" for="displayByLocation">Filter By Location</label>
              <div class="select">
                <select name="sort_by" class="select__select collection-filters__sort" id="displayByLocation" aria-describedby="a11y-refresh-page-message"></select>

                <svg aria-hidden="true" focusable="false" role="presentation" class="icon-caret" viewBox="0 0 10 6">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                  </path>
                </svg>
              </div>
            </div>
          </div>
        {% endif %}
        <div id="{{ section.id }}" class="collection-grid maison-grid-collection">
          <div class="row"></div>
          <div class="empty">
            {{ 'No collections for selected location.' }}
          </div>
        </div>

      </div>
</section>

<script>
  async function getCollection() {
    const query = `query {
    collections(first: 250) {
      edges {
        node {
          id
          title
          handle
          image {
            url
          }
          metafields(identifiers: [{namespace: "custom", key: "location"}, {namespace: "custom", key: "collection_type"}, {namespace: "custom", key: "shop_now"}]) {
            key
            value
          }
        }
      }
    }
  }`;

    try {
      const resp = await fetch(`https://maisonflaneur.myshopify.com/api/2022-07/graphql.json`, {
        method: "POST",
        headers: {
          "Content-Type": "application/graphql",
          "X-Shopify-Storefront-Access-Token": '9c0d83d3ac9df7037c7057a7ed376f62'
        },
        body: query
      });

      const data = await resp.json();
      return data;
    } catch (error) {
      throw new Error(`HTTP error! status: ${resp.status}`);
    }
  }

  (async () => {
    const datas = await getCollection();
    const collections = datas.data.collections.edges;
    // Filter and shuffle the collection nodes
    const selectedCollections = collections
      .filter(({ node }) => {
        const metafields = node.metafields;
        return (
          metafields &&
          metafields.some(
            (mf) =>
              mf && // Add check for mf not being null/undefined
              mf.key === "collection_type" &&
              mf.value === "{{ section.settings.collection_type }}"
          )
        );
      })
      .sort(() => 0.5 - Math.random())
      {% if section.settings.number_of_collections_to_display != 0 %}
      .slice(0, {{ section.settings.number_of_collections_to_display }})
      {% endif %}
      .sort((a, b) => (a.node.title > b.node.title ? 1 : -1));

    {% if section.settings.show_filter_location == true %}
    // Locations filter
    const selectedLocations = Array.from(
      collections
        .filter(({ node }) => {
          const metafields = node?.metafields; // Add optional chaining operator to check if node is defined
          return (
            metafields &&
            metafields.some(
              (mf) =>
                mf && mf.key === "location"
            ) &&
            metafields.some(
              (mf) =>
                mf && // Add check for mf not being null/undefined
                mf.key === "collection_type" &&
                mf.value === "{{ section.settings.collection_type }}"
            )
          );
        })
        .reduce((uniqueLocations, { node }) => {
          const locationMetafield = node.metafields.find(
            (mf) => mf && mf.key === "location"
          );
          const location = locationMetafield ? locationMetafield.value : "";
          const locationWithoutPrefix = location.replace(/^[^,]*,\s*/g, "").replace(/\s/g, "");
          if (!uniqueLocations.has(locationWithoutPrefix)) {
            uniqueLocations.set(locationWithoutPrefix, node);
          }
          return uniqueLocations;
        }, new Map())
        .values()
    );

    const selectedLocationValues = selectedLocations.map(({ metafields }) => {
      const locationMetafield = metafields.find((mf) => mf && mf.key === "location");
      const location = locationMetafield ? locationMetafield.value : null;
      return location.replace(/^[^,]*,\s*/g, "").replace(/\s/g, "");
    });


    // Create a select element
    const locationSelect = document.querySelector("#displayByLocation");

// Add an initial "All Locations" option
    const allOption = document.createElement("option");
    allOption.value = "";
    allOption.textContent = "All Locations";
    locationSelect.appendChild(allOption);

    for (let i = 0; i < selectedLocationValues.length; i++) {
      const node = selectedLocationValues[i];
      const locationOption = document.createElement("option");
      locationOption.value = node;
      locationOption.textContent = node;
      locationSelect.appendChild(locationOption);
    }

// Add an event listener to filter the collection grid based on the selected location
    locationSelect.addEventListener("change", () => {
      const selectedLocation = locationSelect.value;

      // Loop through the collection grid items and show/hide them based on the selected location
      const collectionGridItems = document.querySelectorAll(".indiv-collection-grid-homepage");

      let allHidden = true;

      collectionGridItems.forEach(item => {
        const locationDiv = item.querySelector(".location");
        if (locationDiv) {
          const itemLocation = locationDiv.getAttribute('country');
          if (selectedLocation === "" || itemLocation === selectedLocation) {
            item.style.display = "block";
          } else {
            item.style.display = "none";
          }
        }
      });
    });
    {% endif %}

    // Add the location selector to the page
    //document.querySelector(".collection-grid").prepend(locationSelect);

    for (const { node: selectedCollectionNode } of selectedCollections) {
      const indivCollectionGridHomepage = document.createElement("article");
      indivCollectionGridHomepage.className = "indiv-collection-grid-homepage col-md-4 col-sm-6";

      const collectionGridInner = document.createElement("div");
      collectionGridInner.className = "homepage-collection-grid-inner";

      const gridImage = document.createElement("div");
      gridImage.className = "grid-image";

      const gridImageCentered = document.createElement("div");
      gridImageCentered.className = "grid-image--centered";

      const gridButtons = document.createElement("div");
      gridButtons.className = "grid-buttons";

      const imageSrc = selectedCollectionNode.image.url;
      const img = document.createElement("img");
      img.src = imageSrc;

      gridImageCentered.appendChild(img);

      gridImage.appendChild(gridImageCentered);
      collectionGridInner.appendChild(gridImage);
      gridImage.appendChild(gridButtons);

      indivCollectionGridHomepage.appendChild(collectionGridInner);

      const hpTitle = document.createElement("div");
      hpTitle.className = "hp-title homepage-collection-link";

      const h3 = document.createElement("h3");
      h3.className = "article-title";

      const link = document.createElement("a");
      link.href = "{{ shop.url }}/collections/" + selectedCollectionNode.handle;
      link.textContent = selectedCollectionNode.title;

      h3.appendChild(link);
      hpTitle.appendChild(h3);
      indivCollectionGridHomepage.appendChild(hpTitle);

      {% if section.settings.show_buttons_over_image == true %}
      const exploreLink = document.createElement("a");
      exploreLink.className = 'explore'
      exploreLink.textContent = 'Explore'
      exploreLink.href = "{{ shop.url }}/pages/" + selectedCollectionNode.handle;

      const shopnowLink = document.createElement("a");
      shopnowLink.className = 'shopnow'
      shopnowLink.textContent = 'Shop now'
      shopnowLink.href = "{{ shop.url }}/collections/" + selectedCollectionNode.handle;

      gridButtons.appendChild(exploreLink)

      if (selectedCollectionNode && selectedCollectionNode.metafields) {
        gridButtons.appendChild(shopnowLink)
        const shopnow = selectedCollectionNode.metafields.find(mf => mf && mf.key === "shop_now");
        if (shopnow) {
          if (shopnow.value === 'false') {
            shopnowLink.setAttribute('data-url', 'false')
          }
        }
      }
      {% endif %}

      {% if section.settings.show_location == true %}
        const locationDiv = document.createElement('div');
        locationDiv.className = "location";
        const locationFullName = selectedCollectionNode.metafields.find(mf => mf.key === "location").value;
        const country = locationFullName.replace(/^[^,]*,\s*/g, "").replace(/\s/g, "");
        locationDiv.textContent = locationFullName;
        locationDiv.setAttribute('country', country);
        indivCollectionGridHomepage.appendChild(locationDiv);
      {% endif %}

      document.querySelector(".collection-grid .row").appendChild(indivCollectionGridHomepage);
    }
  })();


</script>

{% schema %}
{
    "name": "Maison - Collection list",
    "class": "homepage-section--featured-collections-wrapper",
    "settings": [
        {
            "type": "select",
            "id": "colors",
            "label": {
                "en": "Color scheme",
                "de": "Farbschema",
                "es": "Esquema de colores",
                "fr": "Palette de couleurs",
                "pt-PT": "Esquema de cores"
            },
            "default": "white",
            "options": [
                {
                    "value": "white",
                    "label": {
                        "en": "White",
                        "de": "Weiß",
                        "es": "Blanco",
                        "fr": "Blanc",
                        "pt-PT": "Branco"
                    }
                },
                {
                    "value": "light",
                    "label": {
                        "en": "Light",
                        "de": "Licht",
                        "es": "Luz",
                        "fr": "Clair",
                        "pt-PT": "Claro"
                    }
                },
                {
                    "value": "accent",
                    "label": {
                        "en": "Feature",
                        "de": "Eigenschaft",
                        "es": "Destacado",
                        "fr": "Caractéristique",
                        "pt-PT": "Funcionalidade"
                    }
                },
                {
                    "value": "dark",
                    "label": {
                        "en": "Dark",
                        "de": "Dunkel",
                        "es": "Oscuro",
                        "fr": "Foncé",
                        "pt-PT": "Escuro"
                    }
                }
            ],
            "info": {
                "en": "Set your color schemes in 'Theme settings' > 'Colors'",
                "de": "Legen Sie Ihre Farbschemata in 'Themeneinstellungen' > 'Farben' fest",
                "es": "Configurar las combinaciones de color en 'Configuración del tema' > 'Colores'",
                "fr": "Définissez vos jeux de couleurs dans « Paramètres du thème » > « Couleurs »",
                "pt-PT": "Defina os seus esquemas de cor em 'Definições de tema' > 'Cores'"
            }
        },
        {
          "type": "text",
          "id": "subheading",
          "label": {
            "en": "Subheading",
            "de": "Unterüberschrift",
            "es": "Subencabezado",
            "fr": "Sous-rubrique",
            "pt-PT": "Subtítulo"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading",
            "de": "Überschrift",
            "es": "Encabezado",
            "fr": "Rubrique",
            "pt-PT": "Título"
          }
        },
      {
        "type": "select",
        "id": "collection_type",
        "label": "Collection type",
        "default": "brand",
        "options": [
          {
            "value": "brand",
            "label": "Brand"
          },
          {
            "value": "hotel",
            "label": "Hotel"
          }
        ]
      },
      {
        "type": "number",
        "id": "number_of_collections_to_display",
        "label": "Max number collections to show?",
        "info": "0 is set by default. 0 will show all collections that meets criteria.",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "show_location",
        "default": false,
        "label": "Show location",
        "info": "Display location eg. Paris, France under title."
      },
      {
        "type": "checkbox",
        "id": "show_filter_location",
        "default": false,
        "label": "Show filter location"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "label": "Content alignment",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
      "type": "checkbox",
      "id": "show_buttons_over_image",
      "default": false,
      "label": "Show buttons over image"
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "small",
        "options": [
          {
          "value": "small",
          "label": "Small"
          },
          {
          "value": "big",
          "label": "Portrait"
          }
        ]
      }
    ],
    "presets": [
        {
            "name": {
                "en": "Maison - Collection list",
                "de": "Kollektionsliste",
                "es": "Lista de colecciones",
                "fr": "Liste des collections",
                "pt-PT": "Lista da coleção"
            },
            "category": {
                "en": "Collection",
                "de": "Kollektion",
                "es": "Colección",
                "fr": "Collection",
                "pt-PT": "Coleção"
            }
        }
    ]
}
{% endschema %}
